{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <div class="row">
        
        <div class="col-sm-8 blog-main">
            <div class="blog-header">
                <h1 class="blog-title"> About Claire </h1>
            </div>
            
            <div class="blog-post">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Claire has a Master's degree in computational chemistry with a bachelor's degree in applied math. During graduate school she found a love for using Python to analyze data. After taking a few MOOCs on topics including Machine Learning, SQL, and Web Scraping, she applied to The Data Incubator for formal data science training.</p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At The Data Incubator, she gained experience in working through the data science process. Topics included data cleaning and using databases such as SQL, predictive modeling with machine learning techniques, visualization with Python and Javascript, and big data techniques such as Mapreduce and Apache Spark.</p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Since the program ended, she has been keeping up with her education by playing with different data sets in any way she can. This blog is a way to organize and present all the work she has done. </p>
                
            </div>
            
        </div>
        
    </div>
    
    <div>

{% endblock %}