{% extends 'base.html' %}
{% block content %}
        <div class="container">
            
            <div class="blog-header">
                <h1 class="blog-title">Data Science Portfolio</h1>
                <p class="lead blog-description">By Claire Miller</p>
            </div>
            
            <div class="row">
                
                <div class="col-sm-8 blog-main">
                    
                    <div class="blog-post">
                        <h2 class="blog-post-title">Instacart Kaggle Competition</h2>
                        <p class="blog-post-meta">June 22, 2017</p>
                        
                        <p>To practice my data science skills, I have been working on a Kaggle competition about Instacart, an online grocery shopping service. The competition is to accurately predict which items a customer will reorder.</p>
                        <p style="text-align: right"><a href="/instacart">Read More...</a></p>
                    </div>

                    
                    <div class="blog-post">
                        <h2 class="blog-post-title">Making the Blog</h2>
                        <p class="blog-post-meta">June 12, 2017</p>
                        
                        <p>To organize my projects, and brush up on my web development skills, I decided to put together this blog.</p>
                        <p style="text-align: right"><a href="/makingtheblog">Read More...</a></p>
                    </div>
                    
                    <div class="blog-post">
                        <h2 class="blog-post-title">Substitute Search</h2>
                        <p class="blog-post-meta">May 1, 2017</p>
                        
                        <p>When becoming a substitute teacher at Chicago Public Schools, I wanted an easy way to search for job openings each day.</p>
                        <p style="text-align: right"><a href="/substitutesearch">Read More...</a></p>
                    </div>
                    
                    <div class="blog-post">
                        <h2 class="blog-post-title">Hop Off, Hop On</h2>
                        <p class="blog-post-meta">February 7, 2017</p>
                        
                        <p><i>Hop Off, Hop On</i> was  my capstone project at The Data Incubator.</p>
                        <p style="text-align: right"><a href="/hopoffhopon">Read More...</a></p>
                    </div>
                    
                </div><!-- /.blog-main -->
                
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Claire is a budding data scientist trying to get her foot in the door of a rapidly growing industry. Find out more about her background <a href="/about">here</a>.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>Posts</h4>
                        <ol class="list-unstyled">
                            <li><a href="/instacart">Instacart Kaggle Competition</a></li>
                            <li><a href="/makingtheblog">Making the Blog</a></li>
                            <li><a href="/substitutesearch">Substitute Search</a></li>
                            <li><a href="/hopoffhopon">Hop Off, Hop On</a></li>
                        </ol>
                    </div>
                    <div class="sidebar-module">
                        <h4>Other Links</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/cemiller220/">GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/claire-miller-7457188b/">LinkedIn</a></li>
                        </ol>
                    </div>
                </div><!-- /.blog-sidebar -->
                
            </div><!-- /.row -->
            
        </div><!-- /.container -->
        
{% endblock %}
