{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <div class="row">
        
        <div class="col-sm-8 blog-main">
            
            <div class="blog-post">
                <h2 class="blog-post-title" style="margin-top: 50px">Instacart Kaggle Competition</h2>
                <p class="blog-post-meta">June 22, 2017</p>
                
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To practice my data science skills, I have been working on a Kaggle competition about Instacart, an online grocery shopping service. The competition is to accurately predict which items a customer will reorder. I thought this was an interesting data set, because I have used instacart before and I was curious to learn more about how people tend to use it and also because it is a different type of project than I have worked on previously.</p>
                <br>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You can view my analysis thus far on my <a href="https://github.com/cemiller220/Instacart">github</a>. This page will be updated periodically to show my findings.</p>
                <br>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                
            </div><!-- /.blog-post -->
            
            <nav>
                <ul class="pager">
                    <li><a href="/makingtheblog">Previous</a></li>
                </ul>
            </nav>
            
        </div>
        
    </div>
    
</div>
{% endblock %}