{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <div class="row">
        
        <div class="col-sm-8 blog-main">
            
            <div class="blog-post">
                <h2 class="blog-post-title" style="margin-top: 50px">Making the Blog</h2>
                <p class="blog-post-meta">June 12, 2017</p>
                
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To organize my projects, and brush up on my web development skills, I decided to put together this blog. Although there are many websites out there to easily create a blog, I created it from scratch, using the <a href="http://getbootstrap.com">Bootstrap</a> blog template. I put the pages together using the Flask library in Python and hosted it on Heroku. </p>
                <br>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You can view all the code on my <a href="https://github.com/cemiller220/Blog">Github</a>.</p>
                <br>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                
            </div><!-- /.blog-post -->
            
            <nav>
                <ul class="pager">
                    <li><a href="/substitutesearch">Previous</a></li>
                </ul>
            </nav>
            
        </div>
        
    </div>
    
</div>
{% endblock %}