{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <div class="row">
        
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title" style="margin-top: 50px">Posts</h2>
                
                <li> <a href="/instacart" style="font-size: 16pt">Instacart Kaggle Competition</a> &nbsp;&nbsp;<span style="font-size: 10pt">June 22, 2017</span></li>
                <li> <a href="/makingtheblog" style="font-size: 16pt">Making the Blog</a> &nbsp;&nbsp;<span style="font-size: 10pt">June 12, 2017</span></li>
                <li> <a href="/substitutesearch" style="font-size: 16pt">Substitute Search</a> &nbsp;&nbsp;<span style="font-size: 10pt">May 1, 2017</span></li>
                <li> <a href="/hopoffhopon" style="font-size: 16pt">Hop Off, Hop On</a> &nbsp;&nbsp;<span style="font-size: 10pt">February 7, 2017</span></li>
                
                
            </div>
            
        </div>
        
    </div>
    
<div>
{% endblock %}